.header {
    background: map-get($bg-clr, header);
    display: table;

    min-height: 100%; 
    padding-top: 92px;
    width: 100%;
    text-align: center;
    
    &__logo {
        @include circle(70px, #fff);
        @include inline-block;
        color: map-get($text-clr, logo);
        font: 50px/55px 'Pacifico', cursive;  
        position: relative;
        vertical-align: middle;
        
        &:before {
            @include ring(100px, 2px, #fff);
            content: "";
            left: -18px;
            position: absolute;
            top: -18px;
            
        }
        
    }
    
    &__title {
        font-size: 66px; 
        font-weight: 300;
        line-height: 70px;
        letter-spacing: 0.05em;
        margin: 48px auto;
    }

    &__hello {
        display: block;
        font-size: 35px;
        font-weight: normal;
        text-transform: uppercase;
    }

    &__career {
        display: block;
        font-size: 22px;
        font-weight: 100;
        letter-spacing: 0.1em;
        
        &:first-letter {
            text-transform: lowercase;
        }
    }

    &__info {
        font-weight: bold;
        margin: 160px auto 0;
        text-align: center;
        
        div {
            display: inline-block;
        }
        
        dd, dt {
            display: inline;
            letter-spacing: 0.4em;
        }

        dt {
            margin: 0 0 0 2%;
        }

        dd {
            color: map-get($text-clr, color);
            margin: 0 2% 0 10px;
            text-transform: uppercase;
        }
    }
}