.nav {
    margin: 0 auto;
    padding: 62px 0 10px;
    width: 100%;
    
    &__list {
        @extend %list-h;
        text-align: center;
        
        li {
            margin: 0 6%;
        }
    }

    &__link {
        @extend %no-link;
        @include opacity(0.8);
        color: $white;
        font-size: $font-base-size;
        font-weight: bold;
        text-transform: uppercase;
        
        &:hover {
            @include opacity(1);
        } 
    }
}