%no-btn {
    @extend %no-link;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
   
    &:focus {
        outline: 0;
    }
}

.btn {
    @extend %no-btn;    
    @include font-size(16);
    font-family: "intro_regular";
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.btn-close {
    @extend %no-btn;
    background: url(../img/icons/close.png) no-repeat 50% 50%;
    border-radius: 50%;
    width: 41px;
    height: 41px;
    // transition: transform 0.1s linear 0s;
    position: absolute;
    top: -20px;
    right: -20px;
    z-index: 10;
    
    &:hover {
        transform: scale(1.14);
    }
}