.mac {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    input, textarea, button {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

input:focus,
button:focus,
a:focus {
    outline: 0;
}

%no-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

%list-h {
    @extend %no-list;
    display: block;
    font-size: 0;

    li {
        @include inline-block;
    }
}

%list-v {
    @extend %no-list;

    li {
        display: block;
    }
}

%no-link {
    text-decoration: none;
}

%no-btn {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    @extend %no-link;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

%clearfix {
    &:after {
        content: "";
        clear: both;
        display: table;
    }
}

.scroll {
    left: 0;
    position: fixed;
    top: 0;
    z-index: 100;
}