$strict-normalize: true;
$legacy-support-for-ie6: true;
$legacy-support-for-ie7: true;
$legacy-support-for-ie8: true;

$inline-block-alignment: top;

$font-base-family: "PT Sans", Arial, sans-serif;
$font-base-size-unit: 18;
$font-base-size: 18px;
$font-base-line-height-unit: 28;
$font-base-line-height: 28px;

$black: #000;
$white: #fff;

$bg-clr: (
    black: $black,
    white: $white
);