$strict-normalize: true;
$legacy-support-for-ie6: true;
$legacy-support-for-ie7: true;
$legacy-support-for-ie8: true;

$inline-block-alignment: top;

$font-base-family: 'Roboto Slab', serif;
$font-base-size-unit: 15;
$font-base-size: 15px;
$font-base-line-height-unit: 30;
$font-base-line-height: 30px;

$black: #000;
$white: #fff;
$blackberry: #5c5766;
$orange: #ffd670;

$bg-clr: (
    header: $blackberry,
    white: $white
);

$text-clr: (
    color: $orange
)